<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">
        [{{ getName() }}]' Todo list
      </h3>

      <div class="input-group mb-3">
        <input
         type="text" #todoText class="form-control">
        <button class="bg-primary" (click)="addItem(todoText.value); todoText.value ='' ">
  Add
</button>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox"  class="form-check-input" name="" id="displayAll">
        <label for="displayAll" class="form-check-label">Hepsini Göster</label>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i = index;">
            <td>{{ i+1 }}</td>
            <td>{{ item.description }}</td>
            <td [ngSwitch]="item.action">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchCase="false">No</span>
            </td>

              <input type="checkbox" [(ngModel)]="item.action"  name="" id="">

          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>











<router-outlet></router-outlet>
